* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1b1e2b;
}

canvas {
  display: block;
}
